* {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
.body {
	font-size: 12pt;
	font-family: 'Gotham-Book';
	background-color: #fff;
	color: #4C4C4C;
	text-align: center;
}
.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
.row::after, .row::before {
    content: " ";
    display: table;
    clear: both;
}
.img {
	max-width: 500px;
	width: 100%;
}
.nhp-logo {
	padding-top: 40px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-buttom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.container input {
	background-color: #f5f5f5;
    border: medium none;
    margin: 60px 0px 40px 0px;
    outline: 0 none;
    padding: 20px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

form .error {
	outline: 2px solid #FF5555;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
}
.btn-nihaopay {
	background-color: #ce2224;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFF;
	padding: 10px 30px;
	outline: none;
	border-radius: 0;
	white-space: normal;
	word-wrap: normal;
}
h2 {
	font-family: 'Gotham-Bold';
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
	color: #4C4C4C;
	letter-spacing: 0.02em;
	margin: 50px 0 30px;
}
h3 {
	font-family: 'Gotham-Bold';
	font-size: 2em;
	text-align: center;
	color: #4C4C4C;
	letter-spacing: 0.02em;
}
h4 {
	font-family: 'Gotham-Bold';
	font-size: 1.5em;
	text-align: center;
	color: #4C4C4C;
	margin: 25px 0;
}
h5 {
	font-family: 'Gotham-Bold';
	font-size: 1.2em;
	text-align: center;
	color: #4C4C4C;
}
.menu {
	text-align: center;
	position: fixed;
	width: 100%;
	display: none;
	bottom: 30%;
	margin-left: -10px;
}
.menu ul {
	background-color: #fff;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0px 0px 25px 0px;
	list-style: outside none none;
}
.menu ul li {
	width: 100%;
	padding: 10px 0px 5px 0px;
}
.menu ul .li1 {
	width: 100%;
	padding: 40px 0px 5px 0px;
}
.menu ul li a {
	text-decoration: none;
	color: #ce2224;
	font-size: 1.4em;
}
.menu .close {
	float: right;
	text-decoration: none;
	font-size: 1em;
	
	
	-moz-user-select: none;
    background-image: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1.42857;
    text-align: center;
    vertical-align: middle;
    
	background-color: #ce2224;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFF;
	padding: 5px 5px;
	outline: none;
	border-radius: 0;
	white-space: normal;
	word-wrap: normal;
}
/* Medium Devices */
@media (max-width: 1199px) {
	h2 {
		font-size: 2.1em;
	}
	h3 {
		font-size: 1.8em;
	}
	h4 {
		font-size: 1.4em;
		margin: 20px 0;
	}
}
/* Small Devices */
@media (max-width: 991px) {

}
/* Extra Small Devices - 320px min*/
@media (max-width: 767px) {
	h2 {
		font-size: 1.8em;
	}
	h3 {
		font-size: 1.5em;
	}
	.btn-nihaopay {
		width: 100%;
	}
}
@media (min-width: 768px) {
	.container {
	    width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
	    width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
	    width: 1170px;
	}
}

@media (min-height: 900px) {
	.container {
		margin-top: 75px;
    	margin-buttom: 45px;
	}
}
@media (max-height: 768px) {
	.container {
		margin-top: 65px;
    	margin-buttom: 35px;
	}
}
@media (max-height: 627px) {
	.container {
		margin-top: 55px;
    	margin-buttom: 35px;
	}
	.nhp-logo {
		padding-top: 0px;
	}
}
@media (max-height: 480px) {
	.container {
		margin-top: 35px;
    	margin-buttom: 35px;
	}
	.nhp-logo {
		padding-top: 0px;
	}
}
@media (max-height: 450px) {
	.container input {
    	margin: 20px 0px 10px 0px;
	}
}

@media (max-height: 400px) {
	.container {
		margin-top: 15px;
    	margin-buttom: 15px;
	}
	.nhp-logo {
		padding-top: 0px;
	}
}
